.announcement{

}

.announcement .content{

}

.announcement img{

}

#action-item{
    background-color: deeppink;
    line-height: 2em;
    border-radius: 5px;
    color: #fff;
}

.spacer{
    margin: 40px 0;
}

.nav > li > a:hover,
.nav > li > a:focus,
.navbar-brand:hover,
.navbar-brand:focus {
    background-color: #eee;
}