{% extends 'base.html' %}
{% load staticfiles %}

{% block header_files %}
    <link rel="stylesheet" href="{% static 'exambank/css/exambank.css' %}" />
{% endblock %}

{% block content %}
<div class="container text-content">

    <h2>Exam Bank</h2>

    <div class="row" style="max-width: 300px;">
        <div class="col-xs-7">
            <select id="subject-selection" onchange="subjectChange(this.value)" class="form-control">
            </select>
        </div>

        <div class="col-xs-5">
            <select id="code-selection" onchange="codeChange(this.value)" class="form-control">
            </select>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Term</th>
                <th>Name</th>
                <th>Exam</th>
            </tr>
        </thead>
        <tbody class="exam-list">
        </tbody>
    </table>

</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static  'exambank/js/exambank.js' %}"></script>
{% endblock %}