.navbar a {
    color: #FFFFFF;
    cursor: pointer;

    transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}

.navbar a:hover,.navbar a:focus {
    color: #E0249A;
    background-color: #FFFFFF !important;
    cursor: pointer;
}

.navbar {
    border-radius: 0px;
    border: 0px;
    background-color: #E0249A;
    margin-bottom: 0px;
}

hr {
    border-top: 1px solid #E0249A;
}

.container.content {
    margin-top: 20px;
    background-color: #eee;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.container.text-content {
    margin-top: 30px;
}


.hover-text {
    color: #FFF;
}

.hover-text:hover {
    color: #E0249A;
    text-decoration: none;
}


/**
 * FOOTER CONTENT
 */
.footer {
    color: #fff;
    margin-top: 40px;
    background-color: #333;
}

.contact-info > div {
    margin: 7px 0px;
}

.back-to-top {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 30px;
}

.back-to-top > a {
    text-align: center;
    cursor: pointer
}

.hours-list {
    font-size: 14px;
    line-height: 1.5em;
    list-style-type: none;
}

.widget {
    margin: 0px auto;
    width: 300px;
}

.widget .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.5em;
    text-transform: uppercase;
}

.widget .follow-us {
    list-style-type: none;
}

.widget .follow-us li {
    margin-bottom: 20px;
    color: #fff;
}