{% extends 'tangent/base.html' %}
{% load staticfiles %}
{% load tz %}
{% block header_files %}
    <link rel="stylesheet" href="{% static 'tangent/css/index.css' %}">
{% endblock %}
{% block content %}
    <div class="container text-content">
        {% if messages %}
            {% for message in messages %}
              {% if "error" in message.tags %}
                <div class="alert alert-danger" role="alert">
              {% else %}
                <div class="alert alert-success" role="alert">
              {% endif %}
              {{ message }}</div>
            {% endfor %}
        {% endif %}
        <table class="table">
        <thead><tr>
            <th>Event Name</th>
            <th>Organisation</th>
            <th>Student Name</th>
            <th>Start Time</th>
            <th>Calendar</th>
            <th>Status</th>
        </tr></thead>
        <tbody>
        {% timezone "US/Eastern" %}
        {% for request in requests %}
            <tr>
                <td><a href="{% url 'tangent_booking' request.id %}">{{ request.event_name }}</a></td>
                <td>{{ request.organisation }}</td>
                <td>{{ request.contact_name }}</td>
                <td>{{ request.start }} - {{ request.end }}</td>
                <td>{{ request.calendar }}</td>
                <td>{{ request.get_status_display }}</td>
            </tr>
        {% endfor %}
        {% endtimezone %}
        </tbody>
        </table>
    </div>

{% endblock %}