{% extends 'tangent/base.html' %}
{% load staticfiles %}

{% block header_files %}
    <link rel="stylesheet" href="{% static 'tangent/css/index.css' %}">
{% endblock %}
{% block content %}

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="text-center">
                        <h2>
                            Welcome to Tangent, the central management interface for the Mathematics Societies. This
                            is currently in beta, so please report any bugs to vpo@mathsoc.uwaterloo.ca.
                        </h2>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <img src="{% static 'tangent/img/sincos.png' %}">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% if organizations.count or can_post %}
        <hr class="spacer">
        <h1>Manage:</h1>
        {% if can_post %}
            <a href="#" class="feed-item">
                <div class="row"><div class="col-lg-12 content"><h2>Announcements</h2></div></div>
            </a>
            <hr class="spacer">
        {% endif %}
            {% for org in organizations %}
                <a href="{% url 'tangent_organization' org_id=org.id %}" class="feed-item">
                    <div class="row">
                        <div class="col-lg-12 content">
                            <h2>{{ org.name }}</h2>
                            <p>
                               {{ org.description }}
                            </p>
                        </div>
                        <hr class="spacer">
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
