{% extends 'tangent/base.html' %}
{% load staticfiles %}

{% block header_files %}
    <link rel="stylesheet" href="{% static 'tangent/css/index.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <hr class="spacer">
        <h1>Log</h1>
        {% for i in 'abcdefghijklmnop'|make_list %}
            <div class="feed-item">
                <div class="row">
                    <div class="col-lg-12 content">
                        <h2>{{ i }} did something or other</h2>
                        <h4>
                            January 31, 2015
                        </h4>

                        <p>And here is more information </p>
                    </div>
                    <hr class="spacer">
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}