{% extends 'tangent/base.html' %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <h1>
                    {{ org.name }} Members
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    {% for position in positions %}
                        <li>
                        {{ position.members_list }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
