{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container text-content">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Clubs</h1>
            </div>
        </div>
        <hr>
        {% for club in clubs %}
            <div class="row">
                <div class="col-xs-12">
                    <h2><a href="{% url 'frontend_club' club_id=club.id %}">{{ club.name }}</a></h2>

                    <h3>{{ club.description }}</h3>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}