{% extends 'base.html' %}

{% block content %}

    <div class="container text-content">

        <div class="row">
            <div class="col-xs-12">
                <h1>{{ club.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{ club.description|linebreaks }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Positions:
                <ul>
                    {% for position_holder in position_holders %}
                        <li>{{ position_holder.position.title }} (
                        {% for holder in position_holder.holders %}
                        {{ holder.user.username }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        )
                        </li>
                    {% endfor %}
                </ul>
                {% if club.meeting_set.all %}
                Meetings:
                    <ul>
                        {% for meeting in club.meeting_set.all reversed %}
                            <li>
                                {{ meeting.date }} - {{ meeting.location }}
                                {% if meeting.general %} : General {% endif %}:
                                {% if meeting.budget %} <a href="#">Budget</a> {% endif %}
                                {% if meeting.agenda %} <a href="#">Agenda</a> {% endif %}
                                {% if meeting.minutes %} <a href="#">Minutes</a> {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                Member Count: {{ club.members.count }}<br>
                Fee: ${{ club.fee_in_dollars }}<br>
                Office: {{ club.office }}<br>
                Website: <a href="{{ club.website }}">{{ club.website }}</a><br>
                {% if club.documents.all %}
                Documents:
                    {% for doc in club.documents.all %}
                        <a href="{{ doc.file }}">
                            <div>
                                <h4>{{ doc.name }}</h4>
                                <h5>
                                    {{ doc.date_added }} - {{ doc.date_modified }}<br>
                                    {{ doc.description|linebreaks }}
                                </h5>
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}