{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <p>MISSION YO<p>
                    <p>AND A CATCH PHRASE</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p>pretend im a pretty calender<p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2>I MET SOMEONE IMPORTANT</h2>

                <p>And here is the announcement</p>
            </div>
            <div class="col-lg-5">
                Along with a pretty important sidebar?
            </div>
        </div>

        <hr>
    </div>
{% endblock %}