{% extends 'base.html' %}
{% load staticfiles %}

{% block header_files %}
    <link rel="stylesheet" href="{% static 'frontend/css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="text-center">
                        <h2>
                            MathSoc represents student interests and rights to the university administration,
                            as well as providing oportunities and services to make make students lives easier and more
                            fun.

                            <hr>

                            <div id="action-item">Vote now for your ActSci Rep!</div>
                        </h2>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <iframe src="https://www.google.com/calendar/embed?mode=AGENDA&src=qppn4tv70id73d9ib9gj3t7iio%40group.calendar.google.com&ctz=America/Toronto" width="400" height="300" frameborder="0" scrolling="no" id="cnd" class="calendar"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <hr>
        {% for i in '0123456789'|make_list %}
        <div class="announcement">
            <div class="row">
                <div class="col-lg-7 content">
                    <h2>{{ forloop.counter }}: I MET SOMEONE IMPORTANT</h2>

                    <p>And here is the announcement</p>
                </div>
                <div class="col-lg-5">
                    <img height='200' src="{% static 'img/mathsoclogo.png' %}">
                </div>
            </div>
            <hr class="spacer">
        </div>
        {% endfor %}
    </div>
{% endblock %}