{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container text-content">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>MathSoc Office</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <h3>{{ org.description|linebreaks }}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3><a href="#">Calculator Policy</a></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>Office Employees</h2>
            </div>
        </div>

        {% for pos in org.position_set.all %}
            <div class="row">
                <div class="col-xs-12">
                    <h3>{{ pos.title }}:
                        {{ pos.occupied_by.user.first_name }}
                        {{ pos.occupied_by.user.last_name }}</h3>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}