{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
{# TODO THIS IS A PLACEHOLDER TILL WE FIGURE OUT CASs#}
    <form class="form-signin" id="login_form" method="post" action="/login/">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required=""
               autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
               required="">

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <input type="hidden" name="next" required="" value="{{ next }}">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>
{%  endblock %}