{% extends 'base.html' %}
{% load staticfiles %}

{% block header_files %}
    <link rel="stylesheet" href="{% static 'services/css/bookings.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="calenders">
        <iframe src="https://www.google.com/calendar/embed?src=qppn4tv70id73d9ib9gj3t7iio%40group.calendar.google.com&ctz=America/Toronto" width="800" height="600" frameborder="0" scrolling="no" id="cnd" class="active-calender"></iframe>

        <iframe src="https://www.google.com/calendar/embed?src=uo9gqhdmiain37s82pa7n7dsck%40group.calendar.google.com&ctz=America/Toronto" width="800" height="600" frameborder="0" scrolling="no" id="comfy"></iframe>

        <iframe src="https://www.google.com/calendar/embed?src=ccrmlglti2hug3dg7c732kflbs%40group.calendar.google.com&ctz=America/Toronto" width="800" height="600" frameborder="0" scrolling="no" id="hallway"></iframe>

        <iframe src="https://www.google.com/calendar/embed?src=2tn3orcd6obicm3hbauargm1g4%40group.calendar.google.com&ctz=America/Toronto" width="800" height="600" frameborder="0" scrolling="no" id="new-proj"></iframe>

        <iframe src="https://www.google.com/calendar/embed?src=t6jk1rnneup9pkg8kifs3ccl8k%40group.calendar.google.com&ctz=America/Toronto" width="800" height="600" frameborder="0" scrolling="no" id="old-proj"></iframe>

        <iframe src="https://www.google.com/calendar/embed?src=k0ki15rfeu4sq4cpb9ion6npdo%40group.calendar.google.com&ctz=America/Toronto" width="800" height="600" frameborder="0" scrolling="no" id="karaoke"></iframe>
    </div>

    <form id="booking_form" method="post" action="javascript:console.log('Booking failed')">
        {% csrf_token %}
        <div class="input-group input-group-lg">
            <div>
                <label>Room:</label>
                <select id="calendar_id" name="booking choices" class="btn" onchange="draw_cal(this.value)">
                    <option value="cnd" name="Coffee and Donut shop">Coffee & Donut Shop</option>
                    <option value="comfy" name="Comfy Lounge">Comfy Lounge</option>
                    <option value="hallway" name="Third floor hallway">3rd Floor Hallway </option>
                    <option value="new-proj" name="New Projector">Projector (new)</option>
                    <option value="old-proj" name="Old Projector">Projector (old)</option>
                    <option value="karaoke" name="Karaoke Machine">Karaoke Machine</option>
                </select>
            </div>
            <div><label>Event Name:</label><input type="text" id="eventname" /></div>
            <div><label>Contact Name:</label><input type="text" id="contactname" /></div>
            <div><label>Contact Email:</label><input type="text" id="contactemail" /></div>
            <div><label>Organisation:</label><input type="text" id="organisation" /></div>
            <div><label>Start Date:</label><input type="text" id="datepicker" /></div>
            <div><label>Start Time:</label><input type="text" id="start_time" name="start time" /></div>
            <div><label>End Time:</label><input type="text" id="end_time" name="end time" /></div>
            <input type="submit" id="book" />
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript"> var post_url = "{% url 'resources_bookings' %}";</script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script><!-- plis remove all unused components - its a big library :( -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/bookings.js"></script>
{% endblock %}