{% extends 'base.html' %}
{% load staticfiles %}

{% block header_files %}
    <link rel="stylesheet" href="{% static 'services/css/bookings.css' %}" />
{% endblock %}

{% block content %}
<div class="container text-content">
    <form id="booking_form" method="post" action="{% url 'resources_bookings' %}">
        <div>
            <label>Room:</label>
            <select id="calendar_id" name="booking choices" class="form-control" onchange="change_cal(this.value)">
                <option value="cnd" name="Coffee and Donut shop">Coffee & Donut Shop</option>
                <option value="comfy" name="Comfy Lounge">Comfy Lounge</option>
                <option value="hallway" name="Third floor hallway">3rd Floor Hallway </option>
                <option value="new-proj" name="New Projector">Projector (new)</option>
                <option value="old-proj" name="Old Projector">Projector (old)</option>
                <option value="karaoke" name="Karaoke Machine">Karaoke Machine</option>
            </select>
        </div>

        <iframe src="https://www.google.com/calendar/embed?src=qppn4tv70id73d9ib9gj3t7iio%40group.calendar.google.com&ctz=America/Toronto" width="800" height="600" frameborder="0" scrolling="no" id="calendar" class="active-calendar"></iframe>

        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h2>Contact Information</h2>
                <div><label>Contact Name:</label><input class="form-control" type="text" name="contact-name" id="contact-name" placeholder="e.g. John Smith" /></div>
                <div><label>Contact Email:</label><input class="form-control" type="text" name="contact-email" id="contact-email" placeholder="e.g. jsmith37@uwaterloo.ca"/></div>
                <div><label>Contact Phone:</label><input class="form-control" type="text" name="contact-phone" id="contact-phone" placeholder="e.g. (226)-555-1234"/></div>
                <div><label>Organization:</label><input class="form-control" type="text" name="organisation" id="organization" placeholder="e.g. MathSoc" /></div>
            </div>
            <!-- <div class="col-md-1"></div> -->
            <div class="col-xs-12 col-md-6">
                <h2>Event Information</h2>
                <div><label>Event Name:</label><input name="event-name" class="form-control" type="text" id="event-name" placeholder="e.g. End of Term event" /></div>
                <div class="row">
                    <div class="col-xs-5"><label>Start Date:</label><input name="date" class="form-control datepicker" type="text" id="date" placeholder="ISO (YYYY-MM-DD)" /></div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><label>Start Time:</label><input class="form-control timepicker" type="text" id="start-time" name="start-time" placeholder="e.g 1:30pm"/></div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><label>End Time:</label><input class="form-control timepicker" type="text" id="end-time" name="end-time" placeholder="e.g 2:30pm"/></div>
                </div>
            </div>
        </div>

        <div class="submit-btn">
            <input type="submit" class='btn btn-default' id="book" />
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static  'services/js/bookings.js' %}"></script>
{% endblock %}