{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <form id="booking_form" method="post" action="javascript:console.log('Booking failed')">
        {% csrf_token %}
        <div class="input-group input-group-lg">
            Room:<select id="calendar_id" name="booking choices" class="btn" onchange="draw_cal(this.value)">
            <option value="qppn4tv70id73d9ib9gj3t7iio@group.calendar.google.com" name="Coffee and Donut shop">Coffee &
                Donut
                Shop
            </option>
            <option value="uo9gqhdmiain37s82pa7n7dsck@group.calendar.google.com" name="Comfy Lounge">Comfy Lounge
            </option>
            <option value="ccrmlglti2hug3dg7c732kflbs@group.calendar.google.com" name="Third floor hallway">3rd Floor
                Hallway
            </option>
            <option value="2tn3orcd6obicm3hbauargm1g4@group.calendar.google.com" name="New Projector">Projector (new)
            </option>
            <option value="t6jk1rnneup9pkg8kifs3ccl8k@group.calendar.google.com" name="Old Projector">Projector (old)
            </option>
            <option value="k0ki15rfeu4sq4cpb9ion6npdo@group.calendar.google.com" name="Karaoke Machine">Karaoke Machine
            </option>
        </select><br/>
            Event Name:<input type="text" id="eventname"><br/>
            Contact Name:<input type="text" id="contactname"><br/>
            Contact Email:<input type="text" id="contactemail"><br/>
            Organisation:<input type="text" id="organisation"><br/>
            Start Date:<input type="text" id="datepicker"><br/>
            Start Time:<input type="text" id="start_time" name="start time"> <br/>
            End Time:<input type="text" id="end_time" name="end time"/>
            <input type="submit" id="book">
        </div>
    </form>

{% endblock %}

{% block scripts %}
    <script type="text/javascript"> var post_url = "{% url 'resources_bookings' %}";</script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static  'services/js/bookings.js' %}"></script>
{% endblock %}