{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container text-content">
<h2>Policy 4. Equipment Bookings</h2>

<p>Any piece of equipment in the following list, or any other available equipment, may be
booked by any organizations in group A under University Policy 15, any group in class B, C
or D with the approval of the Executive Board, and any group in class E with the approval
of Council.</p>

<ul><li>Projector (and Projector Screen)</li><li>Speakers</li><li>Karaoke Machine</li><li>Popcorn Machine</li><li>Cotton Candy Machine</li></ul>

<p>The equipment borrower must be a student in the Faculty of Mathematics.</p>

<h3>4.1 Booking Procedures</h3>

<p>An online booking request should be completed in its entirety by a representative of the
organization making the booking. Any organization not affiliated with MathSoc will also be
required to entrust the Executive Board with a $50 security deposit. The request and the
deposit drop off must be made at least 48 hours before the start of the event.</p>

<p>This security deposit will be returned to the borrower upon return of all the equipment
except in the following cases:</p>

<ol><li>If there is damage to any equipment that would cause it to not function properly.
Should this be the case, the booking organization will be responsible for reimbursing
MathSoc for the full cost of the item.</li><li>If the equipment is not returned properly and fully cleaned, at the discretion of the
Executive Board. In the case of MathSoc clubs, who do not pay a deposit, a $50
cleaning fee will be charged.</li></ol>

<p>The borrower agrees to be the sole operator of the equipment, or to be present at all
times during its use.</p>

<p>For organizations that are not affiliated with MathSoc, any equipment, collectively, may
be booked 5 times per timer. (i.e. All pieces of equipment share the same allowed use count
for the term). This limit may be waived at the discretion of the Vice President, Operations
and one other member of the Executive Board.</p>

</div>
{% endblock %}